/* all THREE pages */

body { background-color: #999999; }

#wrapper {
  margin: 1em auto;
  padding: 0px;
  width: 960px;
  border: 5px solid #00479F;
  background-color: #ffffff;
}

h1 {
color: #66CCFF;
font-family: Helvetica, Ariel, sans-serif;
font-weight: normal;
font-style: italic;
background-image: linear-gradient(to bottom, #0089E7, #004EA7);
padding: 30px 0px 30px 10px;
margin: 0px 0px 0px 0px;
border-bottom: 5px solid #00479F;
}

h1 a {
  color: #66CCff;
  font-family: Helvetica, Ariel, sans-serif;
  font-weight: normal;
  font-style: italic;
  text-decoration: none;
}

nav {
  background-image: linear-gradient(to bottom, #0089E7, #004EA7);
  border-bottom: 5px solid #00479F;
}

nav ul {
  font-family: Helvetica, Ariel, sans-serif;
  font-weight: bold;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  width: 240px;
  float: left;

}

nav li a {
  display: block;
  padding: 1em;
  color: #66CCFF;
  text-decoration: none;
  border-right: 5px solid #00479F;
}


h2 {
  color: #00479F;
  font-family: Helvetica, Ariel, sans-serif;
  font-weight: normal;
}

hr {
  background: #00479F;
  height: 3px;
}

.nolink {
  cursor: pointer;
  color: red;
  font-weight: bold;
}

.nolink:hover {
  color: #D997FF;
  text-decoration: underline;
}

a:hover {
  color:#D997FF;
}

p {
  font-family: Georgia, serif;
}

footer {
border-top: 5px solid #00479F;
background-color: red;
padding: 10px 0px 3px 20px;
}

/* Page ONE only */

.bolded {
  font-weight: bold;
  text-align: justify;
  font-family: Georgia, serif;
  grid-column: span 4;
  margin: 10px 10px 0px 10px;
}

#pageone {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

#pageone header {
  grid-column: span 4;
  margin: 10px 10px 10px 10px;
}

#pageone h1 {
  grid-column: span 4;
}

#pageone nav {
  grid-column: span 4;

}

#pageone main {
  grid-column: span 4;
  margin: 0px 10px 10px 20px;
}

#pageone img {
  float: left;
}

#pageone footer {
  grid-column: span 4;
}

img[src="DanFlashes.jpg"] {
  border: 3px solid #00479F;
  margin: 10px 10px 10px 20px;
  padding: 0px;
}

/* Page TWO only */

#pagetwo {
  display:grid;
  grid-template-columns: 1fr 1fr;
}

#pagetwo h1 {
  grid-column: span 2;

}

#pagetwo nav {
  grid-column: span 2;
}

#pagetwo main  {
  grid-column: span 2;
  margin: 0px 10px 10px 20px;
}

#pagetwo footer {
  grid-column: span 2;
}

img[src="Tables.jpg"] {
  border: 3px solid #00479F;
  margin: 10px 10px 10px 20px;
  padding: 0px;
  float: right;
}

/* Page THREE only */

#pagethree {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#pagethree h1 {
  grid-column: span 3;
}

#pagethree nav {
  grid-column: span 3;
}

#pagethree main {
  grid-column: span 3;
  margin: 0px 10px 10px 20px;
}

#pagethree footer {
  grid-column: span 3;
}

img[src="Sam.jpg"] {
  border: 3px solid #00479F;
  margin: 10px 10px 10px 10px;
  padding: 0px;
}

img[src="Crashmore.jpeg"] {
  border: 3px solid #00479F;
  margin: 10px 10px 10px 10px;
  padding: 0px;
}

img[src="Insta.jpg"] {
  border: 3px solid #00479F;
  margin: 10px 10px 10px 10px;
  padding: 0px;
}
